/*
// Naming of element IDs and classes:
//
//  Element : '_qbf'    +    't'    +    'h/d/f/a'   + 'l,c,r,i'
//            prefix        module     vertical pos.   hor. position
//           (QbForm)      (Table)    (header/data/   left,center,right,icon
//                                     footer/append)  
//
//        LEFT (static)   Data (scrolled)   RIGHT (static)   ICONS
//        +------------+-------------------+-------------+-------------+
// HEADER | _qbfthl... | _qbfthc....       | _qbfthr.... | _qbfthi.... |
//        +------------+-------------------+-------------+-------------+
// DATA   | _qbftdl... | _qbftdc....       | _qbftdr.... | _qbftdi.... |
//        +------------+-------------------+-------------+-------------+
// FOOTER | _qbftfl... | _qbftfc....       | _qbftfr.... | _qbftfi.... |
//        +------------+-------------------+-------------+-------------+
// APPEND | _qbftal... | _qbftac....       | _qbftar.... | _qbftai.... |
//        +------------+-------------------+-------------+-------------+
//
*/

/* -------------------------------------- */
/* Main Div                               */
/* -------------------------------------- */
._qbft-dark_cell {
  flex-basis: 100%;
}

._qbft-dark {
  position: relative;
  font-size: 11pt;
  color: lightgrey;
}

._qbft-dark input::-moz-selection { /* Code for Firefox */
  color: white;
  background: dodgerblue;
}

._qbft-dark input::selection {
  color: white;
  background: dodgerblue;
}

/*
._qbft-dark_mainTable {
}
*/

._qbft-dark_mainTable > div {
  position: absolute;
  display: inline-block;
}


/* -------------------------------------- */
/* Header                                 */
/* -------------------------------------- */

/* -- HEADER - main -- */

._qbfth-dark {
  border-bottom: none;
}

._qbfth-dark-active:hover {
  background-color: #887e64;
}

._qbfth-dark-sortable {
  cursor: s-resize;  
}

._qbfth-dark_separator {
  position: relative;
  overflow: visible;
  width: 1px;
  min-width: 1px;
  max-width: 1px;
  height: 100%;
  padding: 0px;
  background-color: #505050 !important;
  overflow: visible;
  background-image: none !important;
}

._qbfth-dark_separator_safeZone {
  position: absolute;
  left: -25px;
  right: -25px;
  top: -15px;
  bottom: -15px;
  touch-action: none;
  pointer-events: none;
}

._qbfth-dark_separator_hotSpot {
  position: absolute;
  left: -15px;
  right: -15px;
  top: 0px;
  height: 100%;
  opacity: 0;
}

._qbfth-dark_separator_box {
  position: absolute;
  border-right: solid 2px lightskyblue;
  background-color: none;
  margin-left: 3px;
  z-index: 10000;
  pointer-events: none;
  touch-action: none;
  visibility: hidden;
  height: 0px;
}

._qbfth-dark_separator_box_active {
  visibility: visible;
  height: 100%;
}

/* -- HEADER - left -- */

._qbfthl-dark_mainSubTable {
  border-top: solid 2px lightgrey;
  border-left: solid 2px lightgrey;
  border-bottom: solid 1px #505050;
  background-color: #505050;
}

._qbfthl-dark {
  display: grid;
  grid-template-columns: 20px 30px 45px;
  column-gap: 1px;
  grid-column-gap: 1px;
  row-gap: 1px;
  grid-row-gap: 1px;
}

._qbfthl-dark > div {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 30px;
  /* border-bottom: solid 1px #505050; */
  background-color: #404040;
}

._qbfthl-dark_text {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: bold;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  pointer-events: none;
  color: lightgrey;
}

/* Header - center */

._qbfthc-dark_mainSubTable {
  border-top: solid 2px lightgrey;
  border-bottom: solid 1px #505050;
  border-left: solid 2px #505050;
  border-right: solid 2px lightgrey;
  background-color: #404040;
}

._qbfthc-dark {
  display: grid;
  grid-template-columns: auto 1px auto 1px auto 1px auto 1px;
}

._qbfthc-dark > div {
  height: 30px;
  border-bottom: solid 1px #505050;
}

._qbfthc-dark_text {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: bold;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  cursor: s-resize;
  pointer-events: none;
  font-family: Calibri, Helvetica, sans-serif;
  font-size: 12pt;
  color: lightgrey;
}

._qbfthc-dark_arrowDown {
  width: 24px;
  height: 24px;
  background-image: url('data:image/svg+xml;utf8,<svg width="24" height="24" xmlns="http://www.w3.org/2000/svg"><g><polyline points="6,9 12,15 18,9" stroke="lightgrey" stroke-width="4" fill="none" /></g></svg>');
}

._qbfthc-dark_arrowUp {
  width: 24px;
  height: 24px;
  background-image: url('data:image/svg+xml;utf8,<svg width="24" height="24" xmlns="http://www.w3.org/2000/svg"><g><polyline points="6,15 12,9 18,15" stroke="lightgrey" stroke-width="4" fill="none" /></g></svg>');
}

/* -------------------------------------- */
/* Filters                                */
/* -------------------------------------- */

._qbftFilterCell-dark {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  border-bottom: solid 1px #505050;
  padding-bottom: 2px;
  overflow: hidden;
}

/* Filter - QbfString */
._qbftFilterCell-dark_QbfString > input {
  flex : 1;
  width: 100%;
  height: 24px;
  color: lightgrey;
  border: solid 1px #505050;
  background-color: #282828;
  outline: none;
}
._qbftFilterCell-dark_QbfString > input:focus {
  border-color: cornflowerblue;
}

/* Filter - QbfInteger */
._qbftFilterCell-dark_QbfInteger > select {
  width: 40px !important;
  height: 24px;
  background-position: left;
  padding-left: 25px;
  padding-right: 0px;
}
._qbftFilterCell-dark_QbfInteger > input {
  width: calc( 100% - 40px ) !important;
  height: 24px;
  color: lightgrey;
  border: solid 1px #505050;
  background-color: #282828;
  outline: none;
}
._qbftFilterCell-dark_QbfInteger > input:focus {
  border-color: cornflowerblue;
}

/* -------------------------------------- */
/* Data                                   */
/* -------------------------------------- */

._qbftdl-dark_mainSubTable {
  border-top: solid 1px #505050;
  border-bottom: solid 2px lightgrey;
  border-left: solid 2px lightgrey;
  background-color: #505050;
}

._qbftdl-dark {
  box-sizing: border-box;
  display: grid;
  grid-template-columns: 20px 30px 45px;
  column-gap: 1px;
  grid-column-gap: 1px;
  row-gap : 1px;
  grid-row-gap : 1px;
}

._qbftdl-dark > div {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #404040;
}

._qbftdl-dark > div::selection {color:currentColor;background:transparent}
._qbftdl-dark > div::moz-selection {color:currentColor;background:transparent}

._qbftdl-dark_highlight_standard {
  background-color: grey !important;
}

._qbftdl-dark_highlight_delete {
  background-color: #48485a !important;
}

/*
._qbftdl-dark > div:hover {
  background-color: #887e64 !important;
}
*/

/* --- Data Center (scrolled) --- */

._qbftdc-dark_mainSubTable {
  background-color: #404040;
  border-top: solid 1px #505050;
  border-left: solid 2px #505050;
  border-bottom: solid 2px lightgrey;
  border-right: solid 3px lightgrey;
}

._qbftdc-dark {
  box-sizing: border-box;
  display: grid;
  grid-template-columns: auto auto auto auto;
  column-gap: 1px;
  grid-column-gap: 1px;
  row-gap: 1px;
  grid-row-gap: 1px;
}

._qbftdc-dark > div {
  color: lightgrey;
  background-color: #282828;
  overflow: hidden;
  position: relative;
}

._qbftdc-dark > div > div {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}


._qbftdc-dark_highlight_standard {
  background-color: grey !important;
}

._qbftdc-dark_highlight_delete {
  background-color: #48485a !important;
}

/* Specific for element incuding DATA field (QbfString, QbfPassword, QbfInteger, ...) */
/* -> All classes that extends QbfInputAbstract                                       */

._qbftdc-dark_input {
  display: flex;
  background-color: #282828;
  padding-left: 2px;
  padding-right: 2px;
  border: solid 2px rgba(0,0,0,0);
  width: 100%;
  height: calc(100% - 4px)
}

._qbftdc-dark_input_left {
  padding-top: 1px;
}

._qbftdc-dark_input_right {
  padding-top: 1px;
}

._qbftdc-dark_input input {
  width: 100%;
  background: none;
  border: none;
  outline: none;
  font-size:inherit;
  color: inherit;
}

._qbftdc-dark_input_highlight_standard {
  background-color: grey  !important;
}

._qbftdc-dark_input_highlight_delete {
  background-color: #48485a !important;
}

._qbftdc-dark_input:hover {
  border-color: lemonchiffon !important ;
}

._qbftdc-dark_input_focus {
  border-color: cornflowerblue;
}

._qbftdc-dark_input_listIcon {
  background-color: rgba(0,0,0,0);
  background-image: url('data:image/svg+xml;utf8,<svg width="24" height="24" xmlns="http://www.w3.org/2000/svg"><g><polyline points="6,9 12,15 18,9" stroke="grey" stroke-width="4" fill="none" /></g></svg>');
  background-repeat: no-repeat;
  background-size: 18px 18px;
  position: absolute;
  top: -1px;
  height: 100%;
  /* width is recalculated even if the element is used with 'display:inline' */
  width: 18px;
  margin-top: 1px;
  padding-left: 0px !important;
  padding-right: 0px !important;
}

._qbftdc-dark_input_listIcon:hover {
  background-image: url('data:image/svg+xml;utf8,<svg width="24" height="24" xmlns="http://www.w3.org/2000/svg"><g><polyline points="6,9 12,15 18,9" stroke="steelblue" stroke-width="4" fill="none" /></g></svg>');
}

._qbftdc-dark_input_eyeIcon_on {
  background-color: lightpink;
  background-image: url('data:image/svg+xml;utf8,<svg width="24" height="24" fill="darkred" xmlns="http://www.w3.org/2000/svg"><path d="M12 4.5C7 4.5 2.73 7.61 1 12c1.73 4.39 6 7.5 11 7.5s9.27-3.11 11-7.5c-1.73-4.39-6-7.5-11-7.5zM12 17c-2.76 0-5-2.24-5-5s2.24-5 5-5 5 2.24 5 5-2.24 5-5 5zm0-8c-1.66 0-3 1.34-3 3s1.34 3 3 3 3-1.34 3-3-1.34-3-3-3z"/></svg>');
  background-repeat: no-repeat;
  background-size: 18px 18px;
  position: absolute;
  top: -1px;
  height: 100%;
  /* width is recalculated even if the element is used with 'display:inline' */
  width: 18px;
  margin-top: 1px;
  padding-left: 0px !important;
  padding-right: 0px !important;
}

._qbftdc-dark_input_eyeIcon_on:hover {
  background-color: lightsteelblue;
}

._qbftdc-dark_input_eyeIcon_off {
  background-color: rgba(0,0,0,0);
  background-image: url('data:image/svg+xml;utf8,<svg width="24" height="24" fill="grey" xmlns="http://www.w3.org/2000/svg"><path d="M12 7c2.76 0 5 2.24 5 5 0 .65-.13 1.26-.36 1.83l2.92 2.92c1.51-1.26 2.7-2.89 3.43-4.75-1.73-4.39-6-7.5-11-7.5-1.4 0-2.74.25-3.98.7l2.16 2.16C10.74 7.13 11.35 7 12 7zM2 4.27l2.28 2.28.46.46A11.804 11.804 0 0 0 1 12c1.73 4.39 6 7.5 11 7.5 1.55 0 3.03-.3 4.38-.84l.42.42L19.73 22 21 20.73 3.27 3 2 4.27zM7.53 9.8l1.55 1.55c-.05.21-.08.43-.08.65 0 1.66 1.34 3 3 3 .22 0 .44-.03.65-.08l1.55 1.55c-.67.33-1.41.53-2.2.53-2.76 0-5-2.24-5-5 0-.79.2-1.53.53-2.2zm4.31-.78l3.15 3.15.02-.16c0-1.66-1.34-3-3-3l-.17.01z"/></svg>');
  background-repeat: no-repeat;
  background-size: 18px 18px;
  position: absolute;
  top: -1px;
  height: 100%;
  /* width is recalculated even if the element is used with 'display:inline' */
  width: 18px;
  margin-top: 1px;
  padding-left: 0px !important;
  padding-right: 0px !important;
}

._qbftdc-dark_input_eyeIcon_off:hover {
  background-image: url('data:image/svg+xml;utf8,<svg width="24" height="24" fill="cornflowerblue" xmlns="http://www.w3.org/2000/svg"><path d="M12 7c2.76 0 5 2.24 5 5 0 .65-.13 1.26-.36 1.83l2.92 2.92c1.51-1.26 2.7-2.89 3.43-4.75-1.73-4.39-6-7.5-11-7.5-1.4 0-2.74.25-3.98.7l2.16 2.16C10.74 7.13 11.35 7 12 7zM2 4.27l2.28 2.28.46.46A11.804 11.804 0 0 0 1 12c1.73 4.39 6 7.5 11 7.5 1.55 0 3.03-.3 4.38-.84l.42.42L19.73 22 21 20.73 3.27 3 2 4.27zM7.53 9.8l1.55 1.55c-.05.21-.08.43-.08.65 0 1.66 1.34 3 3 3 .22 0 .44-.03.65-.08l1.55 1.55c-.67.33-1.41.53-2.2.53-2.76 0-5-2.24-5-5 0-.79.2-1.53.53-2.2zm4.31-.78l3.15 3.15.02-.16c0-1.66-1.34-3-3-3l-.17.01z"/></svg>');
}

/* --- Right --- */

/* --- Icon --- */

._qbftdi-dark_delete {
  display: flex;
  align-items: center;
  overflow: hidden;
  width: 30px;
  padding-left: 10px;
  border-bottom: solid 1px rgba(0,0,0,0);
}

._qbftdi-dark_delete > div {
  width: 18px;
  height: 18px;
  background-image: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" width="18px" height="18px"><circle fill="grey" cx="9" cy="9" r="9"/><line x1="5" y1="5" x2="13" y2="13" stroke="black" stroke-width="4"/><line x1="5" y1="13" x2="13" y2="5" stroke="black" stroke-width="3"/></svg>');
}

._qbftdi-dark_delete:hover > div {
  width: 20px;
  height: 20px;
  background-image: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" width="20px" height="20px"><circle fill="%23F44336" cx="10" cy="10" r="10"/><line x1="5" y1="5" x2="15" y2="15" stroke="white" stroke-width="4"/><line x1="5" y1="15" x2="15" y2="5" stroke="white" stroke-width="4"/></svg>');
}

/* -------------------------------------- */
/* Footer                                 */
/* -------------------------------------- */

/* --- TO DO --- */

/* -------------------------------------- */
/* Append                                 */
/* -------------------------------------- */

/* --- Append Center --- */

._qbfta-dark {
  background: none;
}

/* --- Append Center --- */

._qbftac-dark {
  box-sizing: border-box;
  display: grid;
  grid-template-columns: auto auto auto auto;
  margin-top: 5px;
  border: solid 2px slategrey;
  margin-bottom: 2px;
  column-gap: 1px;
  grid-column-gap: 1px;
  background-color: #505050;
  overflow: hidden;
}

._qbftac-dark > div {
  height: 100%;
  width: 100%;
  background-color: #282828;
  overflow: hidden;
  position: relative;
}

._qbftac-dark > div > div {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

/* --- Append Right --- */

/* --- Append Icon --- */

._qbftai-dark {
  padding-top: 4px;
}

._qbftai-dark input {
  width: 50px;
  height: 25px;
  margin-top: 3px;
  margin-left: 5px;
  text-align: center;
  font-size: 16pt;
  font-weight: bold;
  color: white;
  background: linear-gradient(to bottom,#84b5df,#4a7aa4);
  border: solid 2px #4a7aa4;
  border-radius: 5px;
  line-height: 3px;
  padding-top: 0px;
  outline: none;
}

._qbftai-dark input:hover {
  background: linear-gradient(to bottom,#b6d8f7,#6591b7);
}

._qbftai-dark input:focus {
  border-color: #4d4dff;
  background: linear-gradient(to bottom,#b6d8f7,#6591b7);
}
